*{
    padding:0;
    margin:0;
    font: size 40px;
    height:fit-content;
 


}

.box-one{
    background-color: rgb(243, 63, 63) ;
    padding:20px;
    height: 100px;
    margin: 20px;
    text-align: center;
    font-size: 30px;
}

.box-two{
    background-color: rgb(223, 142, 51) ;
    padding:20px;
    height: 300px;
    margin: 30px;
    text-align: center;
    vertical-align: middle;
    font-size: 50px;
    position:relative;
}

.box-three{
    background-color: rgb(211, 230, 106) ;
    padding:20px;
    height: 200px;
    margin: 60px;
    text-align: center;
    vertical-align: center;


}

.box-four{
    background-color: rgb(87, 230, 74) ;
    padding:20px;
    height: 100px;
    margin: 60px;
    text-align: center;
}

input{
    height: 50px;
    width: 200px;
    padding: 20px 0 20px 0;
    font-size: 40px;
    margin: 10px 10px 10px 10px;
    vertical-align: center;
    
}

button{
    height: 60px;
    width: 200px;
    padding: 20px 50px 20px 50px;
    font-size: 30px;
    margin: 20px;
}

output{
    font-size: 80px;
}

label{
    vertical-align: center;
}